/* custom div layout */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {width: 20%;float: left;}
@media(min-width:210px){
   .col-xs-15{width:100%; float:left;}
   .productbox img{width:200px; height:200px;}
   .item-box{margin:0 auto; width:200px; border:solid 1px #dadada;}
   .col-xs-12{width:100%;float:left;}
}

@media(min-width:480px){
   .col-xs-15{width:50%;float:left;}
   .col-xs-12{width:50%;float:left;}
   .productbox img{width:200px; height:200px;}
   .item-box{margin:0 auto; width:200px; border:solid 1px #dadada;}
 
}

@media(min-width:640px){
	.col-xs-15{width:33%;float: left;}
	
}
@media (min-width:768px){
	.col-xs-15{width:33%;float: left;}
	.menu{margin-top:50px;}
	.productbox img{width:200px; height:200px;}
	.item-box{margin:0 auto; width:200px; border:solid 1px #dadada;}
	
	.mega-dropdown-menu {
	padding:10px;
  
    width: 550px;
    margin-left:210px;
    box-shadow: none;
    -webkit-box-shadow: none;
   }
    .mega-dropdown-menu > li > ul {width:250px;float: left;}
    .productbox img{ margin: 0 auto; width: 200px; height: 200px;}
    .item-box{margin:0 auto; width:200px; border:solid 1px #dadada;}
    .slider{width:520px;}

   .slides{height:800px;}

}
@media (min-width:992px){
	.col-xs-15{width:25%;float: left;}
	.col-xs-12{width:33%;float: left;}
	.menu{margin-top:0px;}
	.mega-dropdown-menu {
	padding:10px;
    width: 750px;
    margin-left:210px;
    box-shadow: none;
    -webkit-box-shadow: none;
   }
.mega-dropdown-menu > li > ul {width:240px;float: left;}
.productbox img{ margin: 0 auto; width: 200px; height: 200px;}
.item-box{margin:0 auto; width:200px; border:solid 1px #dadada;}
.slider{width:730px;}
.jssor_1{width:730px; height:670px;}
.slidescreen{height:670px; }

}

@media (min-width:1200px){
	.col-xs-15{width:20%;float: left;}
	.col-xs-12{width:25%;float: left;}
	input#form-search{width:420px;}
	.productbox img{ margin: 0 auto; width: 200px; height: 200px;}
    .item-box{margin:0 auto; width:200px; border:solid 1px #dadada;}
	.mega-dropdown-menu {
		padding:10px;
	    width: 950px;
	    margin-left:210px;
	    box-shadow: none;
	    -webkit-box-shadow: none;  
	   }
    .mega-dropdown-menu > li > ul {width:300px;float: left;}
    .menu{margrin-top:0px;}
    .slider{width:930px;}
   .jssor_1{width:930px; height:528px;}
   .slidescreen{height:528px;}
    
}
